body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(190, 190, 190);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

.navbar a {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;
}

.navbar a:hover {
    background-color: rgb(179, 179, 179);
}

article {
    width: 50%;
}

.bild_träd{
    width: 100%;
}

.bild_milo{
    width: 100%;
}

footer{
    text-align: center;
}

.kompetenser li{
}