body{
    background-color: rgb(157, 191, 158);
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(157, 191, 158);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

.navbar a {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;
}

.navbar a:hover {
    background-color: rgb(58, 51, 53);
}

article {
    width: 100%;
}

.bild_träd{
    width: 50%;
}

.bild_milo{
    width: 50%;
}

footer{
    text-align: center;
}

hr{
    border: 1px solid rgb(58, 51, 53);
}

.kompetenslista{
    list-style-position: inside;
}